:root {
--base03:  #002b36;
--base02:  #073642;
--base01:  #586e75;
--base00:  #657b83;
--base0:   #839496;
--base1:   #93a1a1;
--base2:   #eee8d5;
--base3:   #fdf6e3;

--yellow:  #b58900;
--orange:  #cb4b16;
--red:     #dc322f;
--magenta: #d33682;
--violet:  #6c71c4;
--blue:    #268bd2;
--cyan:    #2aa198;
--green:   #859900;

--fg:      var(--base00);
--bg:      var(--base3);
--hl:      -var(-base2);
--emph:    var(--base01);
--comment: var(--base1);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
code {
  background-color: var(--bg);
  color: var(--orange);
  display: inline-block;
  padding: 2px 5px;
}

.navigation ul {
  padding: 0;
}
@function random-pct() {
  @return random(30) + 40%;
}

.navigation ul a {
    border: 2px solid var(--violet);
    border-radius: 8px;
    padding: 8px 20px;
    margin-right: 10px;
    color: var(--violet);
    font-size: 1.5em;
}
.navigation ul a:global(.active) {
  background-color: var(--violet);
  color: white;
}

.navigation ul a:last-child {
  border: transparent;
  float: right;
}

.navigation ul a:hover:not(:global(.active)) {
  box-shadow: 5px 5px 10px var(--violet);
}

.content-wrap {
  flex-grow: 1;
  padding: 20px 40px;
}

.footer {
  padding: 10px 40px;
  background-color: var(--bg);
}
