<Day @number="1" @solution1={{this.solution1}} @solution2={{this.solution2}}>
<div>
  <h2>Today I learned or reminded</h2>
  <ul>
    <li>How to use <code>export default</code> syntax</li>
    <li>That a <code>number</code> is not larger then <code>undefined</code></li>
  </ul>
</div>
</Day>