<Day @number="2" @url="https://adventofcode.com/2021/day/2" @solution1={{this.solution1}} @solution2={{this.solution2}}>
<div>
  <h2>Today I learned</h2>
  <ul>
    <li>How to find and prepend with <code>regex</code> using the <code>$0</code> notation.</li>
    <li>When using a regex to search in VSCode I can use <code>option(alt) + enter</code> to get multi-cursors at all the places that apply, You terminat by pressing <code>escape</code></li>
    <li>How I could also use the <code>reduce</code> function from <code>Javascript</code> with an <code>object ({})</code>, when I compared solutions with a colleague.<br> Check the code to see how you can do this.</li>
  </ul>
</div>
</Day>
