<Day @number="3" @solution1={{this.solution1}} @solution2={{this.solution2}}>
  <div>
    <h2>Today I learned</h2>
    <ul>
      <li>
        How do import the input with <code>fetch</code> in the route. <CodeSnippet @name="day3-import.js"/>
      </li>
      <li>That you don't always need a nice solution :)</li>
    </ul>
  </div>
</Day>