<Day @number="7" @solution1={{this.solution1}} @solution2={{this.solution2}}>
  <h2>Today I learned and remembered</h2>
  <ul>
    <li>That <code>Infinity</code> exsist </li>
    <li>That going with the simple solution is not always wrong and might even work for part 2.</li>
  </ul>
</Day>