{{page-title "Day8"}}
<Day @number="8" @solution1={{this.solution1}} @solution2={{this.solution2}}>
  <h2>Today I remembered</h2>
  <ul>
    <li>I like to solve puzzles more than algorithms</li>
  </ul>
</Day>