{{page-title "Helpers"}}
<h1>The array helpers used in this project</h1>
{{#let (get-code-snippet "array-helpers.js") as |snippet|}}
  <CodeBlock @code= {{snippet.source}} @language={{snippet.language}} />
{{/let}}